# ------------------------------------------------------------------------------
# | Disable access to wp-config file                                           |
# ------------------------------------------------------------------------------
<Files wp-config.php>
	Order Allow,Deny
	Deny from all
</Files>

# ------------------------------------------------------------------------------
# | Disable Directory Browsing                                                 |
# ------------------------------------------------------------------------------
Options All -Indexes

# ------------------------------------------------------------------------------
# | Redirect to New Login Directory                                            |
# ------------------------------------------------------------------------------
# Redirect /wp-admin and /admin to /wp/wp-admin
RewriteRule ^admin/(.*)$ /wp/wp-admin/$1 [QSA,L]
RewriteRule ^wp-admin/(.*)$ /wp/wp-admin/$1 [QSA,L]
# Redirect /wp-login and /login to /wp/wp-login
RewriteRule ^login$ /wp/wp-login.php [QSA,L]
RewriteRule ^wp-login.php$ /wp/wp-login.php [QSA,L]
